/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        escape {
            bindings = <&kp ESCAPE>;
            key-positions = <13 16>;
        };

        left {
            bindings = <&kp LEFT>;
            key-positions = <30 34>;
        };

        down {
            bindings = <&kp DOWN>;
            key-positions = <34 18>;
        };

        up {
            bindings = <&kp UP>;
            key-positions = <44 34>;
        };

        right {
            bindings = <&kp RIGHT>;
            key-positions = <19 34>;
        };

        Caps_lock {
            bindings = <&kp CAPS>;
            key-positions = <25 28 31 34>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |  ESC  |  1  |  2  |  3   |  4   |  5   |                   |  6   |  7    |  8    |  9   |   0   |   `   |
            // |  TAB  |  Q  |  W  |  E   |  R   |  T   |                   |  Y   |  U    |  I    |  O   |   P   |   -   |
            // |  CTRL |  A  |  S  |  D   |  F   |  G   |                   |  H   |  J    |  K    |  L   |   ;   |   '   |
            // | SHIFT |  Z  |  X  |  C   |  V   |  B   |   "["  |  |  "]"  |  N   |  M    |  ,    |  .   |   /   | SHIFT |
            //                     | ALT  | GUI  | LOWER|  SPACE |  | ENTER | RAISE| BSPC  | GUI   |

            bindings = <
&kp GRAVE  &kp N1  &kp N2  &kp N3        &kp N4        &kp N5                                     &kp N6  &kp N7         &kp N8         &kp N9   &kp N0         &kp BACKSPACE
&kp TAB    &kp Q   &kp W   &kp F         &kp P         &kp G                                      &kp J   &kp L          &kp U          &kp Y    &kp SEMICOLON  &kp BACKSLASH
&kp LCTRL  &kp A   &kp R   &kp S         &kp T         &kp D                                      &kp H   &kp N          &kp E          &kp I    &kp O          &kp SINGLE_QUOTE
&kp LSHFT  &kp Z   &kp X   &kp C         &kp V         &kp B      &kp LC(SPACE)    &kp LG(SPACE)  &kp K   &kp M          &kp COMMA      &kp DOT  &kp FSLH       &kp RSHFT
                           &kp LEFT_ALT  &kp LEFT_GUI  &kp SPACE  &kp BACKSPACE    &kp ENTER      &mo 1   &kp RIGHT_GUI  &kp RIGHT_ALT
            >;
        };

        lower_layer {
            // ------------------------------------------------------------------------------------------------------------
            // | BTCLR | BT1 | BT2 |  BT3 |  BT4 |  BT5 |                   |      |       |       |      |       |       |
            // |  F1   |  F2 |  F3 |  F4  |  F5  |  F6  |                   |  F7  |  F8   |  F9   |  F10 |  F11  |  F12  |
            // |   `   |  !  |  @  |  #   |  $   |  %   |                   |  ^   |  &    |  *    |  (   |   )   |   ~   |
            // |       |     |     |      |      |      |        |  |       |      |  _    |  +    |  {   |   }   |  "|"  |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&kp F11  &kp F1             &kp F2           &kp F3                &kp F4                &kp F5                       &kp F6        &kp F7     &kp F8                &kp F9                 &kp F10  &kp F12
&trans   &trans             &trans           &trans                &trans                &trans                       &kp DOWN      &kp RIGHT  &kp LEFT_BRACKET      &kp RIGHT_BRACKET      &trans   &trans
&trans   &trans             &kp LEFT         &kp UP_ARROW          &kp DOWN              &kp RIGHT                    &kp LEFT      &trans     &kp MINUS             &kp EQUAL              &trans   &trans
&trans   &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp C_BRIGHTNESS_DEC  &kp C_BRIGHTNESS_INC  &trans     &trans    &trans  &kp UP_ARROW  &trans     &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &trans   &trans
                                             &trans                &trans                &trans     &trans    &trans  &trans        &trans     &trans
            >;
        };

        raise_layer {
            // ------------------------------------------------------------------------------------------------------------
            // |       |     |     |      |      |      |                   |      |       |       |      |       |       |
            // |   `   |  1  |  2  |  3   |  4   |  5   |                   |  6   |   7   |   8   |  9   |   0   |       |
            // |   F1  |  F2 |  F3 |  F4  |  F5  |  F6  |                   |      |   <-  |   v   |  ^   |  ->   |       |
            // |   F7  |  F8 |  F9 |  F10 |  F11 |  F12 |        |  |       |  +   |   -   |   =   |  [   |   ]   |   \   |
            //                     |      |      |      |        |  |       |      |       |       |

            bindings = <
&trans  &trans  &trans          &trans        &trans    &trans                       &trans           &trans           &kp KP_DIVIDE    &kp KP_MULTIPLY  &trans        &trans
&trans  &trans  &trans          &trans        &trans    &trans                       &trans           &kp KP_NUMBER_7  &kp KP_NUMBER_8  &kp KP_NUMBER_9  &kp KP_MINUS  &trans
&trans  &trans  &kp LEFT_ARROW  &kp UP_ARROW  &kp DOWN  &kp RIGHT                    &trans           &kp KP_NUMBER_4  &kp KP_NUMBER_5  &kp KP_NUMBER_6  &kp KP_PLUS   &trans
&trans  &trans  &trans          &trans        &trans    &trans     &trans    &trans  &trans           &kp KP_NUMBER_1  &kp KP_NUMBER_2  &kp KP_NUMBER_3  &trans        &trans
                                &trans        &trans    &trans     &trans    &trans  &kp KP_NUMBER_0  &kp KP_DOT       &trans
            >;
        };
    };
};
